<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina - InsercionCampConstr</title>
    <link rel="stylesheet" href="/css/insercionTodos.css">
    <%- include ("../partials/linkFavicon.ejs")%>

</head>
<body>
    <form action="/insertarCampeonatosConstructores" method="post">
        <label for="anioTemporada">Año de la temporada:</label>
        <input type="number" name="anioTemporada" required>
    
        <label for="equipo">Nombre del equipo:</label>
        <input type="text" name="equipo" required>
    
        <label for="posicion">Posición final:</label>
        <input type="number" name="posicion" required>
    
        <label for="puntos">Puntos:</label>
        <input type="number" name="puntos" required>
    
        <label for="pilotos">Pilotos:</label>
        <input type="text" name="pilotos" required>
    
        <button type="submit">Insertar campeonato de constructores</button>
    </form>

    <form action="/volver" method="post">
        <button type="submit">Volver</button>
    </form>
</body>
</html>