<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina - Principal</title>
    <link rel="stylesheet" href="/css/paginaPrincipal.css">
    <%- include ("../partials/linkFavicon.ejs")%>

</head>
<body>
    <%- include("../partials/header.ejs")%>
    <section class="hero">
        <h1>Bienvenido al Mundo de la Fórmula 1</h1>
    </section>
    <div class="main-content">
        <iframe width="560" height="500" src="https://www.youtube.com/embed/zxdEjguxwac?si=_DE6M6hptdfy2P3G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p>Tus tokens son: <span class="tokens"><%=tokens %></span></p>
    </div>

    <div class="quiz-container">
        <p>¿Cuánto sabes sobre Fórmula 1? ¡Ponte a prueba!</p>
        <a href="/quiz" class="btn-quiz">Ir al Quiz</a>
    </div>

    
    <%- include("../partials/footer.ejs")%>
</body>
</html>