<div class="contenedor-header">
    <div class="div-marcaPersonal">
        <a href="/"><img src="/img/F1Logo2.png" alt="Logo de la Formula 1"></a>
    </div>
    <nav>
        <a href="/insercion">Inserta información</a>
        <a href="/pilotos">Pilotos</a>
        <a href="/carreras">Carreras</a>
        <a href="/equipos">Equipos</a>
        <a href="/campeonatosPilotos">Campeonatos pilotos</a>
        <a href="/campeonatosConstructores">Campeonatos constructores</a>
        <a href="/perfil">Perfil</a>
        <a href="/logout">Cerrar sesión</a>
    </nav>
</div>